*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    line-height: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

.social {
    position: fixed;
    left: 20px;
    top: 300px;
    z-index: 2000;
  }

 .social ul {
      list-style: none;
  }
 
  .social ul li a {
      display: inline-block;
      color: #fff;
      background: #000;
      padding: 10px 15px;
      text-decoration: none;
      -webkit-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
  }

.social ul li a:hover {
    padding: 10px 30px;
    
}

:root {
    --paddingsection: 60px 0;
    --marginelemtos: 40px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin:auto;
    overflow: hidden;
    padding: var(--paddingsection);
}

body {
    background-color: rgb(252, 250, 248);
   
}


p {
   
    text-align: center;
    max-block-size: 100%;
}


/* Menu */

.menu-navegacao {
    padding: 0;
    display: flex;
    background-color: rgb(241, 237, 232);
    justify-content: center;
    align-items: center;
    height: 5%;
    width: 100%;
}

.enlaces li { 
    list-style: none;
    display: inline-block;
    margin: 10px;
}

.enlaces a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(19, 19, 2);;
    padding-left: 10px;
    text-transform: uppercase;
}

.enlaces a:hover {
    background: rgb(187, 180, 180);
}


.apresentacao {
    height: 550px;
    background-image: url(img/contacto.jpg) ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);     
}

.container-texto {
    padding: 0;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    color: rgb(245, 240, 230);
}

.container-texto:hover {
    background-color: rgb(174, 177, 179); 
}
.apresentacao-item1 {
    margin: 30px;
    font-size: 50px;
    font-weight: 700px;
    color: rgb(141, 100, 39);;
}
.apresentacao-item2 {
    margin: 40px;
    font-size: 70px;  
    color: rgb(141, 96, 29);
    
}
.apresentacao-item3 {
    font-style: oblique;
    font-size: 40px;  
    color: rgb(141, 100, 39);;
}

/*conteudo Principal*/

.titulo {
    margin: 20px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}


.conteudo-sobre {
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

.imagem__1 {   
    display: flex;
    border-radius: 50% 00% 50% 50%;
    height: 400px;
    box-shadow: 2px 2px 2px rgba(15, 15, 15, 0.2);
}
.imagem__1:hover {
    background: rgb(218, 214, 214);
}

/*projetos*/

.projetos {
    background-color:rgb(218, 214, 214);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5); 
 
}

.conteiner-imagem {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-content: center;
  
}

.imagem-2 {
    width: "1rem";
    height: "-0.5rem";
}


/* outros Proyectos*/

.outros {
    padding: 30px;
    background-color: #B3A298;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);  
}

.imagem-outros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

}

.imagem-outro img {
    display: block;  
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 0 8px rgb(0 0 0 .4);
}

.outro-img1 {
    width: 400px;
    height: 400px;
}

.imagem-outros-info1 {
    position: relative;
    top: 10px;
    right: 50px;
}

.imagem-outros-info2 {
    position: relative;
    top: 10px;
    right: 30px;
}

.imagem-outros-info3 {
    position: relative;
    top: 10px;
    left:20px;
}
/*Formulario*/
footer {
    background-image: url(img/contacto.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    height: 550px;
    box-shadow: rgba(0,0,0,0.5);
}

form {
    width: 450px;
    margin: auto;
    background:  rgba(0,0,0,0.4);
    padding: 10px 20px;  
    margin-top: 20px;
    border-radius: 7px; 
    color:white 
}

.titulo-contacto {
    padding: 20px;
    color: seashell;
    text-align: center;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 17px;
    border: none;
}

textarea {
    min-height: 100px;
    min-height: 100px;
    max-width: 100%;
}


#boton {
    background: #9c8f88;
    color:  seashell;
    padding: 20px;
}
#boton:hover {
    cursor: pointer;
}

.copy {
    background-color: black;
    
}

.copy-info {
    color: blanchedalmond;
}
@media (max-width:480px) {
    form {
        width: 100%;
    }
}

@media  (max-width:800px) {

}




